/* add css module styles here (optional) */

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}
/*geçiş efektlerini 1 saniyede yumuşatma */
svg {
  position: absolute;
  stroke: #fff;
  transition: 1s ease-in-out;
}
/* primary butonu boyut ve renkleri */
.primary {
  width: 180px;
  height: 60px;
  background: transparent;
  border: 3px solid #480367;
  border-radius: 10px;
  outline: none;
  transition: 1s ease-in-out;
}
/* arka plan renk değişimi */
.primary:hover {
  transition: 1s ease-in-out;
  background: #3e0350;
}
/* dashed butonu boyut ve renkleri */
.dashed {
  width: 180px;
  height: 60px;
  background: transparent;
  border: 3px dashed #f65de9;
  border-radius: 10px;
  outline: none;
  transition: 1s ease-in-out;
  color: black;
}
/* arka plan renk değişimi */
.dashed:hover {
  transition: 1s ease-in-out;
  background: #ed74e5;
}

/* link butonu boyut ve renkleri */
.link {
  text-decoration: underline;
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px  #da4f4f;
  border-radius: 10px;
  outline: none;
  transition: 1s ease-in-out;
}
/* arka plan renk değişimi */
.link:hover {
  transition: 1s ease-in-out;
  background: #2d2626;
}

/* secondary butonu boyut ve renkleri */
.secondary {
  width: 180px;
  height: 60px;
  background: transparent;
  border: 3px solid #09ddcb;
  border-radius: 10px;
  outline: none;
  transition: 1s ease-in-out;
}
/* arka plan renk değişimi */
.secondary:hover {
  transition: 1s ease-in-out;
  background: #0a9075;
}
