.App {
  max-width: 800px;
  margin: auto;
  padding: 5rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20220524/pngtree-blue-sky-and-white-clouds-sun-background-weather-image_1368108.jpg);

  background-position: center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  font-size: 2rem;
  font-weight: 700;
  color: #302a2a;
  margin: 0;
}

.search-box button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  margin-left: 1rem;
  background-color: #4caf50;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}
.select {
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  
  font-size: 1.2rem;
}

.card-container {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 2px;
  background-color: transparent;
  background-size: cover;
}

.search-box {
  margin-bottom: 2rem;
}

.weather-card {
   border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.weather-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.weather-card .temp {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}




